# Environment Variables
.env
.env.local

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/
ENV/
.pytest_cache/

# Databases & Local Data
job_hunt.db
Job-Hunt-Master.csv
*.sqlite3

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.eslintcache
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

# OS specific files
.DS_Store
Thumbs.db
